form {
  width: 360px;
  margin-top: 36px;

}

input[type="number"] {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 360px;
  height: 40px;
  /* gap: 8px;
    background-color: blue; */
  margin-bottom: 20px;
}


button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  border: none;
  margin-top: 24px;
}

fieldset {
  display: flex;
  justify-content: space-around;
}

button:hover,
button:focus {
  background: #6c8cff;
}